<div class="container mt-4">
  <div class="row">
    <!-- المنتج 1 -->
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem; background-color: #f5f5f5">
        <img
          src="./1.PNG"
          class="card-img-top img-fluid"
          alt="Product 1"
          style="height: 180px; object-fit: contain; background-color: #ffffff"
        />
        <div class="card-body">
          <h5 class="card-title">Smartphone X</h5>
          <p class="card-text text-success fw-bold">Price: $499.99</p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">
              <i class="fas fa-shopping-cart me-1"></i> Buy
            </a>
            <a href="#" class="btn btn-outline-secondary">
              <i class="fas fa-eye"></i> Details
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- المنتج 2 -->
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem; background-color: #f5f5f5">
        <img
          src="./2.PNG"
          class="card-img-top img-fluid"
          alt="Product 2"
          style="height: 180px; object-fit: contain; background-color: #ffffff"
        />
        <div class="card-body">
          <h5 class="card-title">Laptop Pro</h5>
          <p class="card-text text-success fw-bold">Price: $999.99</p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">
              <i class="fas fa-shopping-cart me-1"></i> Buy
            </a>
            <a href="#" class="btn btn-outline-secondary">
              <i class="fas fa-eye"></i> Details
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- المنتج 3 -->
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem; background-color: #f5f5f5">
        <img
          src="./3.PNG"
          class="card-img-top img-fluid"
          alt="Product 3"
          style="height: 180px; object-fit: contain; background-color: #ffffff"
        />
        <div class="card-body">
          <h5 class="card-title">Wireless Headphones</h5>
          <p class="card-text text-success fw-bold">Price: $149.99</p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-primary" [routerLink]="['/main/pyment']">
              <i class="fas fa-shopping-cart me-1"></i> Buy
            </a>
            <a
              class="btn btn-outline-secondary"
              [routerLink]="['/main/details']"
            >
              <i class="fas fa-eye"></i> Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
