.custom-header {
    background-color: #2c3e50; 
  }

  .custom-header .nav-link,
  .custom-header .navbar-brand,
  .custom-header .dropdown-toggle,
  .custom-header .dropdown-item {
    color: white !important;
  }

  .custom-header .dropdown-menu {
    background-color: #34495e;
  }

  .custom-header .dropdown-item:hover {
    background-color: #2c3e50;
    color: #f1f1f1;
  }