<div class="d-flex justify-content-center align-items-center min-vh-100 login-background">
  <div class="card shadow p-5 rounded-4" style="width: 100%; max-width: 700px">
    <h3 class="text-center mb-4">Welcome Back!</h3>

    <form [formGroup]="LoginFrom" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email">Email Address </label>
        <input id="email" formControlName="email" type="email" class="form-control rounded-pill" value="hassan@app.com"
          placeholder="Enter Email Address..." />
        <div *ngIf="LoginFrom.get('email')?.invalid && LoginFrom.get('email')?.touched" class="text-danger">
          <div *ngIf="LoginFrom.get('email')?.errors?.['required']">
            The Email Is Required
          </div>
          <div *ngIf="LoginFrom.get('email')?.errors?.['email']">
            Invalid Email Format
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Password </label>
        <input id="password" value="Hh@12345678910" formControlName="password" type="password"
          class="form-control rounded-pill" placeholder="Enter Password..." />
        <div *ngIf="LoginFrom.get('password')?.invalid && LoginFrom.get('password')?.touched" class="text-danger">
          <div *ngIf="LoginFrom.get('password')?.errors?.['required']">
            The Password Is Required
          </div>
          <div *ngIf="LoginFrom.get('password')?.errors?.['minLength']">
            Min Length Is 8 Character
          </div>
        </div>
      </div>


      <button class="btn btn-primary btn-sm w-100 rounded-pill mb-3" type="submit">
        Login
      </button>

      <hr />

      <!-- <button class="btn btn-danger btn-sm w-100 rounded-pill mb-2">
        <i class="fab fa-google me-2"></i> Login with Google
      </button>

      <button class="btn btn-facebook btn-sm w-100 rounded-pill">
        <i class="fab fa-facebook-f me-2"></i> Login with Facebook
      </button> -->
    </form>

    <div class="text-center mt-4">
      <a [routerLink]="['/registration']" class="btn btn-primary btn-lg w-75 mb-2">
        Create An Account
      </a>
      <a href="#" class="d-block">Forgot Password?</a>
    </div>
  </div>
</div>