<div class="container mt-4">
  <form class="card p-4 shadow-lg bg-light">

    <h4 class="mb-4 text-warning">Edit Category</h4>

    <div class="mb-3">
      <label class="form-label">Category Name</label>
      <input type="text" class="form-control" value="Phones">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="3">Smartphones and mobile devices</textarea>
    </div>

    <button type="submit" class="btn btn-success w-100 mt-3">Update Category</button>

  </form>
</div>
