
<div class="d-flex justify-content-center align-items-center min-vh-100 login-background">
  <div class="card shadow p-5 rounded-4" style="width: 100%; max-width: 700px">
    <h3 class="text-center mb-4">Create an Account!</h3>

    <form [formGroup]="regesterForm" (ngSubmit)="onSubmit()">

      <!-- Full Name -->
      <div class="mb-3">
        <label for="name">UserName</label>
        <input id="name" formControlName="name" type="text" class="form-control rounded-pill" placeholder="Full Name" />
        <div *ngIf="regesterForm.get('name')?.invalid && regesterForm.get('name')?.touched" class="text-danger">
          <div *ngIf="regesterForm.get('name')?.errors?.['required']">
            The Name Is Required
          </div>
          <div *ngIf="regesterForm.get('name')?.errors?.['minlength']">
            Name must be at least 3 characters
          </div>
          <div *ngIf="regesterForm.get('name')?.errors?.['pattern']">
            Name must not contain spaces
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email">Email Address</label>
        <input id="email" formControlName="email" type="email" class="form-control rounded-pill"
          placeholder="Enter Email Address..." />
        <div *ngIf="regesterForm.get('email')?.invalid && regesterForm.get('email')?.touched" class="text-danger">
          <div *ngIf="regesterForm.get('email')?.errors?.['required']">
            The Email Is Required
          </div>
          <div *ngIf="regesterForm.get('email')?.errors?.['email']">
            Invalid Email Format
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control rounded-pill"
          placeholder="Password" />
        <div *ngIf="regesterForm.get('password')?.invalid && regesterForm.get('password')?.touched" class="text-danger">
          <div *ngIf="regesterForm.get('password')?.errors?.['required']">
            The Password Is Required
          </div>
          <div *ngIf="regesterForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters
          </div>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control rounded-pill"
          placeholder="Confirm Password" />
        <div
          *ngIf="(regesterForm.get('confirmPassword')?.invalid && regesterForm.get('confirmPassword')?.touched) || regesterForm.errors?.['passwordMismatch']"
          class="text-danger">
          <div *ngIf="regesterForm.get('confirmPassword')?.errors?.['required']">
            Confirming Password Is Required
          </div>
          <div *ngIf="regesterForm.get('confirmPassword')?.errors?.['minlength']">
            Password must be at least 8 characters
          </div>
          <div *ngIf="regesterForm.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-sm w-100 rounded-pill mb-3" type="submit">
        Register
      </button>


    </form>


    <div class="text-center mt-4">
      <a routerLink="/login" class="btn btn-primary btn-lg w-75 mb-2">Already have an account? Login here</a>
      <a href="#" class="d-block">Forgot Password?</a>
    </div>
  </div>
</div>
